.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--light-blue);
  color: var(--white);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  transition: all 0.3s ease;

  &:disabled {
    background: var(--grey);
    color: var(--dark-grey);
  }
  @media(any-hover: hover){
    &:hover:not([disabled]) {
      transition: all 0.3s ease;
      background: var(--blue);
    }
  }
}
