@use 'sass:math';

/* ------------------------ start reset styles ------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
  box-sizing: border-box;
}

[disabled],
[disabled] * {
  cursor: not-allowed;
  user-select: none;
}

[hidden] {
  display: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  display: block;
}

/* ------------------------ end reset styles ------------------------ */

/* ------------------------ start base config ------------------------ */

html {
  box-sizing: border-box;
  font-size: 100%;
  &.block {
    overflow: hidden;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  // Фикс для слайдеров
  > * {
    min-width: 0;
    min-height: 0;
  }
}

/* ------------------------ end base config ------------------------ */

.container {
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 50px 0;
  @media(min-width: 1240px){
    padding: 75px 0;
  }
  &:last-child {
    padding-bottom:0;
  }
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: var(--black);
  @media(min-width: 1024px){
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
  }
}

.visually-hidden,input[type=checkbox].visually-hidden,input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%)
}
