<header class="header header--default">
  <div class="container">
    <div class="header__inner">
      <div class="header-logo">
        <a href="#" class="header-logo__link">
          <svg class="header-logo__icon" width="72" height="77">
            <use xlink:href="img/static/sprites.svg#logo"></use>
          </svg>
          <div class="header-logo__title">
            Ліцей
            <strong>Кривий Ріг</strong>

          </div>
        </a>
      </div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#" class="menu-link">Про ліцей</a>
            <button class="menu-item__arrow">
              <svg>
                <use xlink:href="img/static/sprites.svg#menu-arrow"></use>
              </svg>
            </button>
            <ul class="sub-menu ">
              <li class="menu-item">
                <a href="#">Про навчальний заклад</a>
              </li>
              <li class="menu-item">
                <a href="#">Викладачі</a>
              </li>
              <li class="menu-item">
                <a href="#">Гуртки та секції</a>
              </li>
              <li class="menu-item">
                <a href="#">Успішні випускники</a>
              </li>
              <li class="menu-item">
                <a href="#">Профільне навчання</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Корисна інформація</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Цивільний захист</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Методична робота</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Публічна інформація</a>
            <button class="menu-item__arrow">
              <svg>
                <use xlink:href="img/static/sprites.svg#menu-arrow"></use>
              </svg>
            </button>
            <ul class="sub-menu ">
              <li class="menu-item">
                <a href="#">Про навчальний заклад</a>
              </li>
              <li class="menu-item">
                <a href="#">Викладачі</a>
              </li>
              <li class="menu-item">
                <a href="#">Гуртки та секції</a>
              </li>
              <li class="menu-item">
                <a href="#">Успішні випускники</a>
              </li>
              <li class="menu-item">
                <a href="#">Профільне навчання</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Новини</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Контакти</a>
          </li>
        </ul>

        <button class="btn menu-btn">Задати питання</button>
      </nav>
      <button class="burger">
        <span class="burger-item"></span>
      </button>
    </div>
  </div>
</header>
