<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__left">
        <h1>Профільне навчання</h1>

      </div>
      <!-- hero-right--images - модификатор для 2картинок -->
      <div class="hero-right">
        <div class="hero__img">
          <img src="img/static/hero-1.png" alt="hero-img">
        </div>
        <!--          <div class="hero__img">-->
        <!--            <img src="img/static/hero-2.png" alt="hero-img">-->
        <!--          </div>-->
      </div>
    </div>
  </div>
</section>
