<section class="info section">
  <div class="container">
    <div class="info__inner">
      <div class="info-head">
        <h2 class="title">Основні завдання профільного навчання</h2>
      </div>
      <ul class="info-list">
        <li class="info-item">
          Формування загальнокультурної, соціальної, комунікативної, інформаційної, громадянської, технічної,
          здоров’язбережної компетенцій учнів на допрофесійному рівні, спрямування молоді щодо майбутньої професійної
          діяльності.
        </li>
        <li class="info-item">
          Створення умов для врахування й розвитку навчально-пізнавальних і професійних інтересів, нахилів, здібностей,
          і потреб учнів старшої школи в процесі їхньої загальноосвітньої підготовки.
        </li>
        <li class="info-item">
          Створення умов для врахування й розвитку навчально-пізнавальних і професійних інтересів, нахилів, здібностей,
          і потреб учнів старшої школи в процесі їхньої загальноосвітньої підготовки.
        </li>
        <li class="info-item">
          Створення умов для врахування й розвитку навчально-пізнавальних і професійних інтересів, нахилів, здібностей,
          і потреб учнів старшої школи в процесі їхньої загальноосвітньої підготовки.
        </li>
      </ul>
    </div>
  </div>
</section>
