<section class="info section">
  <div class="container">
    <div class="info__inner">
      <div class="info-head">
      <h2 class="title">Профільне навчання ґрунтується на принципах:</h2>
      </div>
      <ul class="info-list">
        <li class="info-item">
          Створення умов для врахування й розвитку навчально-пізнавальних і професійних інтересів, нахилів, здібностей, і потреб учнів старшої школи в процесі їхньої загальноосвітньої підготовки.
        </li>
        <li class="info-item">
          Створення умов для врахування й розвитку навчально-пізнавальних і професійних інтересів, нахилів, здібностей, і потреб учнів старшої школи в процесі їхньої загальноосвітньої підготовки.
        </li>
        <li class="info-item">
          Створення умов для врахування й розвитку навчально-пізнавальних і професійних інтересів, нахилів, здібностей, і потреб учнів старшої школи в процесі їхньої загальноосвітньої підготовки.
        </li>
        <li class="info-item">
          Створення умов для врахування й розвитку навчально-пізнавальних і професійних інтересів, нахилів, здібностей, і потреб учнів старшої школи в процесі їхньої загальноосвітньої підготовки.
        </li>
      </ul>
    </div>
  </div>
</section>
