<section class="news section">
  <div class="container">
    <div class="news__inner">
      <div class="news-head">
        <!--        <h2 class="title">Останні новини</h2>-->
        <ul class="tabs-list">
          <li class="tabs-item news-tabs active">
            <button class="tabs-btn">Усі</button>
          </li>
          <li class="tabs-item news-tabs">
            <button class="tabs-btn">Нагороди</button>
          </li>
          <li class="tabs-item news-tabs">
            <button class="tabs-btn">Секції та гуртки</button>
          </li>
          <li class="tabs-item news-tabs">
            <button class="tabs-btn">Науково - дослідницька робота</button>
          </li>
        </ul>
        <div class="news-head__select">
          <span class="news-head__select-title">Сортування</span>
          <div class="select">
            <div class="select-head">
              <span>Найновіші</span>
              <button class="select-btn">
                <svg class="select-btn__icon">
                  <use xlink:href="img/static/sprites.svg#select-arrow"></use>
                </svg>
              </button>
            </div>
            <div class="select-body">
              <div class="select-content">
                <ul class="select-list">
                  <li class="select-item">Національно-патріотичне виховання</li>
                  <li class="select-item">Національно-патріотичне виховання</li>
                  <li class="select-item">Національно-патріотичне виховання</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
        <ul class="news-list show">
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
        <ul class="news-list">
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item__head">
              <div class="news-item__img">
                <img src="img/static/news-1.png" alt="news-1">
              </div>
            </div>
            <div class="news-item__body">
              <ul class="news-statuses">
                <li class="news-status">
                  <a href="#">Нагороди</a>
                </li>
              </ul>
              <div class="news-item__wrapper">
                <h5>Криворізький ліцей №95 отримує високу оцінку за академічні здобутки</h5>
                <p>Криворізький ліцей №95 отримав високу оцінку від Міністерства Освіти за свої визначні академічні
                  здобутки. </p>
              </div>
              <a href="#">Детальніше
                <svg>
                  <use xlink:href="img/static/sprites.svg#link-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      <button class="btn news-more">Всі новини</button>

    </div>
  </div>
</section>
