<section class="questions section">
  <div class="container">
    <div class="questions__wrapper">
      <div class="questions__wrap">
      <h2 class="title">Залишились питання?</h2>
        <p>Заповніть поля та опишіть ваше питання, і наш спеціаліст невдовзі відповість на нього!</p>
      </div>
      <form class="form">
        <div class="form-wrap">
          <label class="visually-hidden" for="email"></label>
          <input class="form-input" id="email" type="email" placeholder="Email"   name="email" required>
        </div>
        <div class="form-wrap">
          <textarea class="form-textarea" placeholder="Питання" name="textarea" autocomplete="off"></textarea>
        </div>

        <button class="btn ">Задати питання</button>
      </form>
    </div>
  </div>
</section>
